<query-editor-row query-ctrl="ctrl" class="irondb-check-datasource-query-row" has-text-edit-mode="false">
  <div class="gf-form-inline">

    <div class="gf-form width-12">
      <span class="gf-form-label">Type</span>
      <select class="gf-form-input"
              ng-model="ctrl.target.kind"
              ng-options="f as f for f in ['numeric', 'text']"
              ng-change="ctrl.onChangeKind()">
      </select>
    </div>

    <div class="gf-form">
      <span class="gf-form-label">Metric</span>
      <gf-form-dropdown model="ctrl.target.target"
                        allow-custom="true"
                        lookup-text="true"
                        get-options="ctrl.getOptions($query)"
                        on-change="ctrl.refresh()">
      </gf-form-dropdown>
    </div>

    <div class="gf-form max-width-12"
         ng-if="ctrl.target.kind == 'numeric'">
      <select class="gf-form-input"
              ng-model="ctrl.target.type"
              ng-change="ctrl.refresh()"
              ng-options="f as f for f in ['average', 'derive', 'counter', 'average_stddev', 'derive_stddev', 'counter_stddev', 'derive2', 'counter2', 'derive2_stddev', 'counter2_stddev', 'count']">
      </select>
    </div>

    <div class="gf-form"
         ng-if="ctrl.target.kind == 'text'">
      <label class="gf-form-switch-container">
        <div class="gf-form-label">
          Extend
        </div>
        <div class="gf-form-checkbox">
          <input id="check-extend" type="checkbox" ng-model="ctrl.target.extend" ng-change="ctrl.refresh()">
          <span class="gf-form-switch__slider"></span>
        </div>
      </label>
    </div>

    <div class="gf-form max-width-12">
      <span class="gf-form-label">Alias</span>
      <input type="text" class="gf-form-input" ng-change="ctrl.refresh()" ng-model="ctrl.target.alias"></input>
    </div>

    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow">
      </div>
    </div>

  </div>
</query-editor-row>
